<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!--代码引公共js-->
<th:block th:fragment="common_js">
<!-- Common scripts -->
<script type="text/javascript" src="/assets/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/smoothscroll.js"></script>
<!-- <script type="text/javascript" src="/assets/js/markerwithlabel_packed.js"></script> -->

<script type="text/javascript" src="/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.placeholder.js"></script>
<script type="text/javascript" src="/assets/js/icheck.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.vanillabox-0.1.5.min.js"></script>
<script type="text/javascript" src="/assets/js/retina-1.1.0.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.raty.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/assets/js/jshashtable-2.1_src.js"></script>
<script type="text/javascript" src="/assets/js/jquery.numberformatter-1.2.3.js"></script>
<script type="text/javascript" src="/assets/js/tmpl.js"></script>
<script type="text/javascript" src="/assets/js/jquery.dependClass-0.1.js"></script>
<script type="text/javascript" src="/assets/js/draggable-0.1.js"></script>
<script type="text/javascript" src="/assets/js/jquery.slider.js"></script>
<script type="text/javascript" src="/assets/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="/assets/js/fileinput.min.js"></script>
<script type="text/javascript" src="/assets/js/custom-map.js"></script>
<script type="text/javascript" src="/assets/js/custom.js"></script>
<script type="text/javascript" src="/assets/js/toastr.js"></script>
<script type="text/javascript" src="/common/common.js"></script>
</th:block>