<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fanchencloud.house.dao.AgencyMapper">
    <resultMap id="BaseResultMap" type="cn.fanchencloud.house.entity.Agency">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="web_site" jdbcType="VARCHAR" property="webSite"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="last_edit_time" jdbcType="DATE" property="lastEditTime"/>
    </resultMap>
    <select id="getAllAgency" resultType="cn.fanchencloud.house.entity.Agency">
        select id,
               name,
               address,
               phone,
               email,
               description,
               web_site,
               create_time,
               last_edit_time
        from agency;
    </select>

</mapper>